body {
margin:0px; background-color:#FF0000;
background-image: url(/images/bg_ramp.png);
background-repeat: repeat-x;
background-position: 0 0;
padding: 0px;
overflow: hidden;         
font-family:'Verdana', 'Arial', 'Helvetica';
font-size: 16px; text-decoration:none; color:#FFF; }
h1,h2,h3,h4,h5,h6 { margin:0px; font-weight: bold; }
h1 { font-size: 210%; }
h2 { font-size: 160%; }
h3 { font-size: 120%; }
h4 { font-size: 110%; }
#content {
width: 100%;
height: 841px;          
margin: 0px;        
padding: 0px;        
background-image: url(/images/Fritzbox-01.gif);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 20px 0px;
}
#content .topic {
padding: 10px;
padding-left: 25px;         
font-size: 250%;
color: #C00;
font-style: italic;       
font-weight: bold;
}
#content .version {
padding-top: 10px;   
padding-right: 15px;
text-align: right;
font-style: italic;
color: #C00;
}
#content a {
color: #999;   
text-decoration: underline;       
}
#content a:hover {
color: #F00;
font-weight: bold;       
font-style: italic;
}
#content .action a {
color: #FFF;   
}
#content .action a:hover {
color: #F00;
font-style: italic;
font-weight: bold;
}
#content .title {
border-bottom: 1px solid #F00;   
border-right: 1px solid #F00;   
padding-right: 5px;
float: left;
font-size: 130%;
color: #666;
}
#content .led {
padding-top: 5px;   
padding-left: 10px;   
padding-right: 10px;   
}
#content #error {
background-color: #F00;   
font-size: 105%;
font-weight: bold;
position: absolute;
top: 350px;
left: 300px;
padding: 10px;
width:  500px;
color: #333;        
}
#content #error .title {
border-bottom: 1px solid #DD0;
border-right: 1px solid #DD0;
background-color: #C00;
color: #DD0;
padding: 10px;   
font-size: 150%;
font-weight: bold;
}
#content #login {
background-image: url(/images/bg_ramp.png);
background-repeat: repeat-x;
background-position: 0 -240;
margin-top: 280px;
margin-left: 340px;
padding: 10px;
width:  480px;
color: #000;        
}
#content #login .title {
padding: 5px;   
font-size: 150%;
font-weight: bold;
color: #333;
}
#info {
position: absolute;
top: 270px;
left: 192px;     
margin: 0px;  
padding: 20px;        
float: left;         
}
#Firmware {
position: absolute;
top: 0px;
right: 0px;     
color: #666;
font-weight: bold;
margin: 0px;   
float: right;
padding: 5px;       
}
#chapter {
position: absolute;   
top: 110px;
left: 135px;
}
#chapter .title {
margin-right: 400px;
margin-bottom: 20px;
}
#chapter .header {
background-image: url(/images/bg_ramp.png);
background-repeat: repeat-x;
background-position: 0 0;
}
#chapter .header td {
padding: 5px;   
}
#chapter td {
color: #000;
background-image: url(/images/bg_ramp.png);
background-repeat: repeat-x;
background-position: 0 -250px;
}
#landevices {
padding: 0;          
width: 945px;
height: 670px;
overflow: scroll;   
}
#landevices a.tooltip {
color: inherit;   
text-decoration: none;   
font-style: normal;
display: block;
}
#landevices a.tooltip:hoover {
color: inherit;   
text-decoration: inherit;   
font-style: inherit;
}
#landevices .tooltip span.tip {
display:none;
}
#landevices .tooltip:hover span.tip {
border: 1px solid #D00;   
background-color: #FFD;
color: #000;
display: block;
position: absolute;         
padding: 10px;
margin-left: 90px;         
margin-top: -8px;
}
#landevices .connected {
background-image: url(/images/bg_ramp.png);
background-repeat: repeat-x;
background-position: 0 0px;
font-weight: bold;   
}
#landevices .onlineused {
background-color: #F00;   
}
#landevices .onlinerest {
background-color: #0A0;   
}
#landevices .blocked {
background-color: #C00;   
color: #D00;   
font-weight: bold;       
text-align: center;
}
#logo {
position: absolute;
top: 45px;
left: 955px;     
}
#footer {
position: absolute;
font-size: 80%;
font-style: italic;
top: 110px;
left: 930px;     
}
#environment {
position: absolute;
top: 900px;
left: 100px;     
}
#services {
position: absolute;
font-size: 90%;          
top: 370px;
left: 655px;     
margin: 0px;
padding: 20px;
float: left;         
}
#comfort {
position: absolute;
top: 110px;
left: 105px;     
color: #666;      
margin: 0px;
padding: 20px;
float: left;
}
#comfort a {
color: #000;   
}
#config {
position: absolute;
top: 420px;
left: 820px;
float: left;      
}
#license {
position: absolute;
top: 290px;
left: 15px;     
}
.memfree {
vertical-align: middle; text-align: center;
background-image: url(/images/bg2.png);
color: #000;
}
.memused {
vertical-align: middle; text-align: center;
background-image: url(/images/br1.png);
color: #000;
}
.memcached {
vertical-align: middle; text-align: center;
background-image: url(/images/bg3.png);
color: #000;
}
.memdistance {
padding: 0;
margin: 0;
font-size: 50%;        
}
#memory {
background-image: url(/images/bg_ramp.png);
background-repeat: repeat-x;
background-position: 0 -250;
position: absolute;
padding: 10px;
top: 600px;
left: 0px;     
width: 630px;
height: 240px;       
}
#memory .title {
padding-left: 20px;   
color: #000;
}
#memory h3 {
padding: 0;
padding-left: 10px;         
margin: 0;         
}
#logs {
position: absolute;
top: 100px;
left: 135px;
}
#logs .title {
margin: 10px;
margin-left: 0;        
}
#logs .logs {
border-left: 2px solid #666;
border-bottom: 2px solid #666;
border-right: 2px solid #666;
overflow: scroll;   
padding-left: 10px;          
width: 945px;
height: 645px;
}
#logs a {
color: #FFF;
}
#logs a:hover {
color: #000;   
}
#logs .tabactive {
//background-color: #C00;
//font-weight: bold;
border-left: 2px solid #666;
border-top: 2px solid #666;
border-right: 2px solid #666;
padding: 5px;
padding-left: 15px;
padding-right: 15px;
}
#logs td.tabactive a {
color: #000;
font-weight: bold;       
text-decoration: none;
}
#logs .tabactive a:hover {
font-style: normal;
}
#logs .tabinactive {
background-color: #C66;   
border: 1px solid #999;
border-bottom: 2px solid #666;        
padding: 5px;
padding-left: 15px;
padding-right: 15px;
}
#logs .tabempty {
border-bottom: 2px solid #666;   
width: 99%;
}
#back {
position: absolute;
top: 115px;
left: 15px;     
}
#back a {
font-size: 105%;
color: #333;
font-weight: bold;       
}
#back a:hover {
color: #F00;
font-style: italic;       
}
