html {
height: 100%;
min-height: 100%
}
body {
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
}
body table {
width: 100%;
margin: 0;
padding: 0;
}
body, td, div {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #333
}
h1 {
font-size: 26px;
font-weight: bold;
color: #000
}
h2 {
font-size: 18px;
font-weight: bold;
color: #666;
}
h3 {
font-size: 14px;
font-weight: bold;
color: #666;
}
a {
color: #666
}
a:hover {
color: #FFF;
text-decoration: none
}
dt {
font-family: Courier;
font-weight: bold;
}
pre {
font-family: Courier;
}
.memfree {
vertical-align: middle; text-align: center;
background-color: #AAA;         
background-image: url(/images/free.gif);
font-size: 110%;
color: #333;
}
.memused {
vertical-align: middle; text-align: center;
background-color: #AAA;         
background-image: url(/images/used.gif);
font-size: 110%;
font-weight: bold;
color: #000;
}
.memcached {
vertical-align: middle; text-align: center;
background-color: #AAA;         
background-image: url(/images/cached.gif);
font-size: 110%;
color: #333;
}
.middle {
vertical-align: middle;
}
.logo {
margin: 5px;
margin-right: 50px;
}
#login {
border-right:  solid 1px #AAA;
border-bottom: solid 1px #AAA;
margin: 170px;
margin-left: 220px;
padding: 10px;
width:  380px;
background-color: #EFF1F3; 
}
#login .title {
font-size: 150%;
font-weight: bold;
}
#header {
background-color: #EFF1F3;
height: 80px;
vertical-align: bottom;
padding: 0;
}
#header td {
padding: 0;
padding-bottom: 8px;
}
#header #quote {
background-image: url('/images/bg_header.jpg');
background-position: left;
background-repeat: repeat-y;
color: #678;
padding-left: 20px;
}
#header #quote p {
margin: 0px;
padding: 0px;
}
#header #quote .version {
padding-right: 10px;
font-style: alic;
text-align: right;
}
#header #quote .topic {
text-align: left;
padding-bottom: 10px;
font-size: 32px;
font-weight: bold;
font-style: italic;
}
#header #title {
background-image: url('/images/bg_left.jpg');
background-repeat: repeat-y;
background-position: right;
color: #C00;
font-size: 60px;
font-weight: bold;
text-align: center;
padding: 0px;
padding-top: 5px;
margin: 0px; 
}
#header #title #top {
font-size: 6px;
}
#header #title a {
color: inherit;
text-decoration: none;
}
#header #title .a:hover {
color: inherit;
}
#sidebar {
background-image: url('/images/bg_left.jpg');
background-repeat: repeat-y;
background-position: right;
padding-left: 6px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 100px;
}
#sidebar .container {
margin-bottom: 30px;
}
#sidebar .container .headline {
border-left:solid 1px #CCC;
border-top:solid 1px #CCC;
border-right:  solid 1px #666;
border-bottom: solid 1px #666;
background: #EAECEE;
background-image: url('/images/bg_top.jpg');
background-repeat: repeat-y;
background-position: left;
color: #FFF;
font-weight: bold;
padding: 5px;
margin-left: 5px; 
}
#sidebar .container .entry a {
color: #4B5A70;
display: block;
margin-left: 5px; 
padding: 4px;
padding-left: 15px;
text-decoration: none;
}
#sidebar .container .entry a:hover {
color: #666;
background: #CFD5D8;
font-weight: bold;
}
#sidebar #gpl {
padding-top: 20px;
padding-bottom: 50px;
padding-left: 40px;
width: 100%;
}
#bodycontent {
background: #FFFFFF;
background-image: url('/images/gray-roundedCorner.gif');
background-repeat: no-repeat;
padding-left: 25px;
padding-right: 20px;
padding-top: 0px;
padding-bottom: 20px;
}
#bodycontent #topmenu {
margin: 0px;
}
#bodycontent #topmenu a {
padding: 2px;
padding-left: 10px;
}
#bodycontent #topmenu a.cursub {
color: #999999;
text-decoration: none;
text-decoration: bold;
}
#bodycontent #topmenu a.cursub:visited {
color: #999999;
text-decoration: none;
text-decoration: bold;
}
#bodycontent #topmenu a.sub {
color: #666666;
}
#bodycontent #topmenu a.sub:visited {
color: #666666;
}
#bodycontent #topmenu a.sub:hover {
color: #000000;
background: #FF0000;
}
#bodycontent #topmenu table {
border-collapse: collapse;
margin-top: 10px;
width: 100%;
}
#bodycontent #topmenu .headline {
font-weight: bold;
}
#bodycontent #topmenu td {
vertical-align: baseline;
padding: 0;
}
#bodycontent #topmenu td.lang {
width: 26px;
text-align: center;
vertical-align: baseline;
}
#pagecontent .directory a {
color: #000000;
text-decoration: none;
}
#pagecontent .directory a:hover {
text-decoration: underline;
}
#pagecontent .back {
font-size: 90%;
text-align: right;
}
#pagecontent .back a {
color: #666666;
font-style: italic;
}
#pagecontent iframe {
border: solid 1px #DDDDDD;
padding: 0px;
}
#pagecontent .code {
font-family: Courier;
font-size: 110%;
border: solid 1px #DDDDDD;
background: #EFEFEF;
margin-left: 15px;
margin-top: 5px;
margin-bottom: 5px;
padding: 8px;
}
.chapter {
margin: 0px;
margin-top: 30px;
padding: 0px;
padding-left: 10px;
padding-bottom: 20px;
}
.chapter .title {
padding: 5px;
padding-left: 10px;
margin: 0px;
margin-left: -10px;
font-size: 140%;
font-weight: bold;
color: #345;
}
.chapter big {
font-size: 105%;
color: 89959F;
}
.chapter a {
color: #678;
}
.chapter a:hover {
color: #345;
font-style: italic; 
text-decoration: none;  
}
.chapter #directory {
position: relative;
float: right;  
top: 8px;  
right: 0px; 
width: 250px;
margin-left: 30px;
margin-bottom: 20px;
padding: 5px;
border: 2px solid #FF0000;
background: #330000;
}
#logs {
width: 780px;
}
#logs .logs {
font-size: 80%;  
color: #000;  
border-left: 1px #999 solid;
border-right: 1px #999 solid;
border-bottom: 1px #999 solid;
padding-left: 10px;        
padding-top: 5px;
width: 780px;
height: 615px;
overflow: scroll;
}
#logs .tabactive {
font-weight: bold;
border-left: 1px solid #999;
border-top: 1px solid #999;
border-right: 1px solid #999;
padding: 5px;
padding-left: 15px;
padding-right: 15px;
}
.tabactive a {
color: inherit;
text-decoration: none;
font-style: normal;
font-weight: bold;
}
.tabactive a:hover {
color: inherit;
text-decoration: none;
font-style: normal;
font-weight: bold;
}
#logs .tabinactive {
background-image: url('/images/bg_top.jpg');
background-repeat: repeat-y;
background-position: right;
border: 1px solid #AAA;
border-bottom: 1px solid #999;        
padding: 5px;
padding-left: 15px;
padding-right: 15px;
}
#logs .tabempty {
border-bottom: 1px solid #999;   
width: 99%;
}
#landevices a.tooltip {
color: inherit;   
text-decoration: none;   
font-style: normal;
display: block;
}
#landevices a.tooltip:hoover {
color: inherit;   
text-decoration: inherit;   
font-style: inherit;
}
#landevices .tooltip span.tip {
display:none;
}
#landevices .tooltip:hover span.tip {
border-left: 1px solid #FF3;   
border-top: 1px solid #FF3;   
border-bottom: 1px solid #CCD;   
border-right: 1px solid #CCD;   
background-color: #FFD;
color: #000;
display: block;
position: absolute;         
padding: 10px;
padding-top: 0px;         
margin-left: 90px;         
margin-top: -8px;
}
#landevices .connected {
font-weight: bold;   
background-color: #EFF1F3;
}
#landevices .onlineused {
background-image: url(/images/used.gif);
}
#landevices .onlinerest {
background-image: url(/images/free.gif);
}
#landevices .blocked {
color: #D00;   
font-weight: bold;       
font-style: italic;
}
.chapter #directory .entry {
color: #FFFFFF;
padding: 3px;
padding-left: 10px; 
}
.chapter #directory .entry a {
display: block;
color: #FFFFFF;
text-decoration: none;
}
.chapter #directory .entry a:hover {
color: #FF0000;
}
.chapter .section dt a {
color: inherit;
text-decoration: none;
}
.chapter .section dt a:hover {
color: #FF0000;
text-decoration: underline;
}
.chapter .header td {
padding: 5px;   
font-weight: bold;         
}
.styledTable {
border: 1px solid #666;
}
.styledTable .header td {
background: #CFD5D8;
height: 25px;
padding: 0px 10px 0px 10px;
color: #333;
text-align: center
}
.styledTable .row td {
background: #EAECEE;
height: 25px;
padding: 0px 10px 0px 10px;
}
#footer {
background: #EFF1F3;
background-image: url('/images/bg_footer.jpg');
background-repeat: repeat-y;
background-position: left;
width: 100%; 
position: fixed; 
padding: 0px;
margin: 0px; 
bottom: 0px; 
left:0px; 
}
.bottom {
}
.footer { 
text-align: center;
color: #EFF1F3;
font-size:  70%;
padding: 0px;
}  
.footer table {
border: none;
width: 100%;
margin: 0px;
padding: 0px;
}
.footer a { 
color:#666; 
}
.footer a:hoover { 
color:#FFF; 
}
